<div class="bandcontent">
  <div class="svg-text">
    <svg id="svg{{id}}" class="titlesvg" width="100%">
      <mask id="svgmask{{id}}" >
        <rect id="svgrect{{id}}" width="100%" height="100%" fill="#ffffff" x="50%" y="25px"></rect>
        <text id="svgtextwrap{{id}}" x="50%" y="0">
          <tspan id="svgtext{{id}}" dy="100" x="50%">{{title}}</tspan>
        </text>
      </mask>
      <rect width="100%" height="100%" fill="#ffffff" mask="url(#svgmask{{id}})"></rect>
    </svg>
  </div>
  <div class="textbox">
    <h3 class="contentdesc">{{content.description}}</h3>
    <h3 class="contentlineup">{{content.lineup}}</h3>
    <h3 class="contentlink"> <a target="_blank" href="{{content.link}}">WWW</a></h3>
  </div>
    <div class="sllinks">
      <div class="slcontainer">
        <a target="_blank" class="slink slfbook js-track-clicks" data-category='link' data-action='facebook' href="{{content.facebooklink}}"></a>
      </div>
      <div class="slcontainer">
        <a target="_blank" class="slink slinstagram js-track-clicks" data-category='link' data-action='instagram' href="{{content.instagramlink}}"></a>
      </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#svgtextwrap{{id}}').attr('font-size', $('.bandcontent').width()*0.095);
  var width{{id}} = document.getElementById('svgtext{{id}}').getComputedTextLength();
  $('#svgrect{{id}}').width(width{{id}}+70);
  $('#svgrect{{id}}').height($('.bandcontent').width()*0.11);
  $('#svgrect{{id}}').attr('x',(($('.bandcontent').width()-(width{{id}}+50))/2)-10);
  $('#svgtextwrap{{id}}').attr('y', ($('.bandcontent').width()*0.11-95)*0.8);
  $('.textbox').css('margin-top', -1*(110-$('.bandcontent').width()*0.11));


  $(window).resize(function(){
    $('#svgtextwrap{{id}}').css({'font-size': $('.bandcontent').width()*0.095 });
    var width{{id}} = document.getElementById('svgtext{{id}}').getComputedTextLength();
    $('#svgrect{{id}}').width(width{{id}}+70);
    $('#svgrect{{id}}').height($('.bandcontent').width()*0.11);
    $('#svgrect{{id}}').attr('x',(($('.bandcontent').width()-(width{{id}}+50))/2)-10);
    $('#svgtextwrap{{id}}').attr('y', ($('.bandcontent').width()*0.11-95)*0.8);
    $('.textbox').css('margin-top', -1*(110-$('.bandcontent').width()*0.11));
  });
});
</script>
